.headerBox {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 72px;
    width: 100%;

    box-shadow: 5px 5px 11px rgba(26, 26, 51, 0.1);
    border-radius: 10pt;
    background-color: #fff;

    padding: 0 20px;
    margin-top: 42px;
  }
  
  .textoBienvenida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }  

  .logo{
    height: 50%;
    max-height: 100%;
    object-fit: contain;
    margin-left: 20px;
  }

  .saludo{
    font-weight: lighter;
    font-size: 12px;
    line-height: 17px;
    text-transform:uppercase;
    
    color: #606060;
  }

  .nombreUsuario{
    font-size: 16px;
    font-weight: normal;
  }