.scroll-box {
    height: 300px; /* Altura de la caja contenedora */
    overflow-y: scroll; /* Habilita el scroll vertical */
  }
  
  .scroll-content {
    /* Define los estilos de la caja con contenido */
    color: blueviolet;
  }
  