.recentRequest {
  width: 100%;
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  background-color: white;
  border-radius: 10pt;
  box-shadow: 5px 5px 11px rgba(26, 26, 51, 0.1);

  margin-bottom: 24px;
}
