.loginBody{
    margin: 0px -16px;
    background: linear-gradient(347.95deg, #E8A87C 0%, #FFD3A5 100%);
}

.login{
    height: 100vh;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.title{
    margin-top: 74px;

    color:white;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}