.arca-continental-logo-1-icon {
  position: absolute;
  top: 21px;
  left: 15px;
  width: 63px;
  height: 39px;
  object-fit: cover;
}
.restablecer-datos {
  margin: 0;
}
.restablecer-datos-de-privacida-container {
  position: absolute;
  top: 103px;
  left: 78px;
  font-weight: 800;
}
.olvidaste-tu-contrasea-container {
  position: absolute;
  top: 349px;
  left: 94px;
  font-size: var(--font-size-mini);
  font-weight: 600;
  color: var(--texts);
}
.le-enviaremos-un-container {
  position: absolute;
  top: 393px;
  left: 61px;
  font-size: var(--font-size-xs);
  color: var(--color-maroon);
}
.arrow-left-circle-icon,
.mdipassword-reset-icon {
  position: absolute;
  top: 222px;
  left: 149px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.arrow-left-circle-icon {
  top: 779px;
  left: 183px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.log-in-usuario-item {
  position: absolute;
  top: 17px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro-100);
  width: 320px;
  height: 32px;
}
.escribe-tu-correo {
  position: absolute;
  top: 25px;
  left: 8px;
}
.correo-electronico,
.log-in-usuario1 {
  position: absolute;
  top: 0;
  left: 5px;
  color: var(--texts);
}
.log-in-usuario1 {
  top: 512px;
  left: 35px;
  width: 320px;
  height: 49px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-gray-400);
}
.box1 {
  border-radius: var(--br-13xl);
  background-color: var(--color-firebrick);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.box1,
.navbar1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 133px;
  height: 35px;
}
.enviar,
.navbar-parent {
  position: absolute;
  top: 5px;
  left: 35px;
}
.navbar-parent {
  top: 660px;
  left: 128px;
  width: 133px;
  height: 35px;
  cursor: pointer;
  text-align: left;
  color: var(--color-white);
}
.aa-olvide-contrasea {
  position: relative;
  background-color: var(--color-snow);
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-firebrick);
  font-family: var(--font-montserrat);
}
