.arca-continental-logo-4-icon2 {
  position: absolute;
  top: 14px;
  left: 13px;
  width: 63px;
  height: 39px;
  object-fit: cover;
}
.navbar-icon6 {
  position: absolute;
  top: 748px;
  left: 0;
  width: 390px;
  height: 96px;
}
.jueves-9-de1,
.ver-todo3 {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--texts);
}
.ver-todo3 {
  top: 14px;
  left: 305px;
  font-size: var(--font-size-xs);
  text-decoration: underline;
  color: var(--color-darkgray-100);
  text-align: center;
}
.group-child22,
.group-child23 {
  position: absolute;
  top: 36.5px;
  box-sizing: border-box;
}
.group-child22 {
  left: -0.5px;
  border-top: 1px solid var(--color-darkgray-200);
  width: 359px;
  height: 1px;
}
.group-child23 {
  left: 273.5px;
  border-right: 1px solid var(--color-darkgray-200);
  width: 1px;
  height: 328px;
}
.am {
  position: absolute;
  top: 12px;
  left: 286px;
  display: flex;
  color: var(--color-firebrick);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 29px;
}
.group-child24 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 64px;
  height: 64px;
}
.clip-path-group15 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.l5 {
  position: absolute;
  height: 38.64%;
  width: 36.36%;
  top: 31.82%;
  left: 31.82%;
  display: flex;
  align-items: center;
}
.jade-sky-blue15 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.a-black-jade-sky-blue15 {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: var(--br-981xl);
  background-color: var(--color-white);
  width: 44px;
  height: 44px;
  overflow: hidden;
}
.rectangle-parent11 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 64px;
  height: 64px;
  font-size: var(--font-size-5xl);
  color: var(--texts);
}
.abarrotes-la-central5 {
  position: absolute;
  top: 16px;
  left: 89px;
  font-size: var(--font-size-base);
  font-weight: 600;
}
.kiel-2848-narvarte1 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 300;
}
.am-parent,
.kiel-2848-narvarte-64830-wrapper {
  position: absolute;
  top: 36px;
  left: 89px;
  width: 129px;
  height: 12px;
  font-size: var(--font-size-3xs);
}
.am-parent {
  top: 52px;
  left: 0;
  width: 361px;
  height: 64px;
  font-size: var(--font-size-mini);
}
.am1,
.n3 {
  position: absolute;
  display: flex;
  align-items: center;
}
.am1 {
  top: 9px;
  left: 286px;
  color: var(--color-firebrick);
  text-align: center;
  justify-content: center;
  width: 75px;
  height: 29px;
}
.n3 {
  height: 40.91%;
  width: 43.18%;
  top: 29.55%;
  left: 27.27%;
}
.godinez-14-tlaxcala-63430-wrapper {
  position: absolute;
  top: 36px;
  left: 89px;
  width: 132px;
  height: 12px;
  font-size: var(--font-size-3xs);
}
.am-group,
.m4 {
  position: absolute;
}
.am-group {
  top: 131px;
  left: 0;
  width: 361px;
  height: 64px;
  font-size: var(--font-size-mini);
}
.m4 {
  height: 40.91%;
  width: 52.27%;
  top: 29.55%;
  left: 22.73%;
  display: flex;
  align-items: center;
}
.group-wrapper7,
.pm,
.rectangle-parent13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 64px;
  height: 64px;
}
.rectangle-parent13 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.group-wrapper7,
.pm {
  color: var(--texts);
}
.pm {
  top: 9px;
  left: 286px;
  font-size: var(--font-size-mini);
  display: flex;
  color: var(--color-firebrick);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 29px;
}
.monteverde-332-coahuila-4343-wrapper {
  position: absolute;
  top: 36px;
  left: 89px;
  width: 163px;
  height: 12px;
  font-size: var(--font-size-3xs);
}
.group-parent15 {
  position: absolute;
  top: 210px;
  left: 0;
  width: 361px;
  height: 64px;
}
.jueves-9-de-marzo-group,
.pm2,
.viernes-10-de-marzo-group {
  position: absolute;
  top: 86px;
  left: 16px;
  width: 361px;
  height: 364px;
}
.pm2,
.viernes-10-de-marzo-group {
  top: 464px;
  left: 14px;
}
.pm2 {
  top: 0;
  left: 197px;
  display: flex;
  color: var(--color-firebrick);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 29px;
}
.abarrote-montesurri7 {
  position: absolute;
  top: 7px;
  left: 0;
  font-size: var(--font-size-base);
  font-weight: 600;
}
.monteverde-332-coahuila-4343-frame {
  position: absolute;
  top: 27px;
  left: 0;
  width: 163px;
  height: 12px;
  font-size: var(--font-size-3xs);
}
.j3,
.pm-parent {
  position: absolute;
  top: 5px;
  left: 89px;
  width: 272px;
  height: 39px;
}
.j3 {
  height: 40.91%;
  width: 27.27%;
  top: 29.55%;
  left: 36.36%;
  display: flex;
  align-items: center;
}
.group-wrapper9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 64px;
  height: 64px;
  font-size: var(--font-size-5xl);
  color: var(--texts);
}
.group-parent17 {
  position: absolute;
  top: 379px;
  left: 16px;
  width: 361px;
  height: 64px;
  font-size: var(--font-size-mini);
}
.agenda {
  position: relative;
  background-color: var(--color-snow);
  width: 100%;
  height: 844px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-montserrat);
}
