.vector-icon {
  position: absolute;
  height: 7.13%;
  width: 8.41%;
  top: 39.69%;
  right: 72.61%;
  bottom: 53.18%;
  left: 18.97%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bell-icon,
.navbar-icon4 {
  position: absolute;
  top: 748px;
  left: -4px;
  width: 398px;
  height: 104px;
}
.bell-icon {
  top: 18px;
  left: 350px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.arca-continental-logo-4-icon1 {
  position: absolute;
  top: 14px;
  left: 13px;
  width: 63px;
  height: 39px;
  object-fit: cover;
}
.perfil-del-cliente1 {
  position: absolute;
  top: 68px;
  left: 13px;
}
.iphone-14-1-child {
  position: absolute;
  top: 104.5px;
  left: 12.5px;
  border-top: 1px solid var(--color-darkgray-200);
  box-sizing: border-box;
  width: 359px;
  height: 1px;
}
.group-child20,
.rectangle-wrapper2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 238.72px;
  height: 62.66px;
}
.group-child20 {
  border-radius: var(--br-11xl);
  background-color: var(--color-aquamarine);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.rectangle-wrapper2 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.iniciar-simulacin {
  position: absolute;
  top: 2px;
  left: 26px;
  font-weight: 600;
  display: inline-block;
  width: 121px;
  height: 16px;
}
.vector-icon1 {
  position: absolute;
  height: 100%;
  width: 13.61%;
  top: 0;
  right: 86.39%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-parent12,
.iniciar-simulacin-parent {
  position: absolute;
  top: 21px;
  left: 48px;
  width: 147px;
  height: 20px;
}
.group-parent12 {
  top: 291px;
  left: 73px;
  width: 238.72px;
  height: 62.66px;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-smi);
  color: var(--color-snow);
}
.line-chart-icon1 {
  position: absolute;
  top: 541px;
  left: 17px;
  width: 360px;
  height: 217px;
}
.iphone-14-1,
.iphone-14-1-item {
  position: absolute;
  top: 382px;
  left: 190px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.iphone-14-1 {
  top: 0;
  left: 0;
  background-color: var(--color-snow);
  width: 390px;
  height: 844px;
  font-size: var(--font-size-5xl);
}
.rectangle-icon {
  position: absolute;
  top: -16px;
  left: -20px;
  width: 398px;
  height: 183px;
}
.abarrotes-la-central-container {
  position: absolute;
  top: 19px;
  left: 106px;
  display: inline-block;
  width: 223px;
  height: 19px;
}
.monterrey-nl {
  margin: 0;
}
.porto-alegre-2848-container {
  position: absolute;
  top: 52px;
  left: 135px;
  font-size: var(--font-size-smi);
  text-decoration: underline;
  color: #4fa0ff;
  display: inline-block;
  width: 194px;
  height: 33px;
}
.dueoa {
  font-family: var(--font-montserrat);
}
.span2 {
  text-decoration: underline;
}
.dueoa-lucia-valleverde-container {
  position: absolute;
  top: 92px;
  left: 96px;
  font-size: var(--font-size-3xs);
  display: inline-block;
  width: 237px;
  height: 32px;
}
.material-symbolsadd-location-icon {
  position: absolute;
  top: 53px;
  left: 106px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.clip-path-group14,
.vector-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 358px;
  height: 143px;
}
.clip-path-group14 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.l4 {
  position: absolute;
  height: 40.38%;
  width: 37.04%;
  top: 30.77%;
  left: 31.48%;
  display: flex;
  align-items: center;
}
.jade-sky-blue14 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.a-black-jade-sky-blue14 {
  position: absolute;
  top: 45px;
  left: 23px;
  border-radius: var(--br-981xl);
  background-color: var(--color-white);
  width: 54px;
  height: 52px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
}
.group-parent13 {
  position: absolute;
  top: 113px;
  left: 13px;
  width: 358px;
  height: 143px;
  cursor: pointer;
  text-align: center;
}
.group-child21 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-firebrick);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 238.72px;
  height: 62.66px;
}
.mdifountain-pen-tip-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.group-parent14 {
  position: absolute;
  top: 391px;
  left: 73px;
  width: 238.72px;
  height: 62.66px;
  text-align: center;
  font-size: var(--font-size-smi);
  color: var(--color-snow);
}
.datos-de-venta {
  position: absolute;
  top: 491px;
  left: 16px;
}
.perfil-del-cliente-child {
  position: absolute;
  top: 518.5px;
  left: 15.5px;
  border-top: 1px solid var(--color-darkgray-200);
  box-sizing: border-box;
  width: 359px;
  height: 1px;
}
.perfil-del-cliente {
  position: relative;
  width: 100%;
  height: 844px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--texts);
  font-family: var(--font-montserrat);
}
