.ListadeSolicitudesBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    margin-top: 20px;
    height: 600px;
    width: 100%;
    /* overflow-y: 10px; Desplazamiento vertical (scroll) */

    box-shadow: 5px 5px 11px rgba(26, 26, 51, 0.1);
    border-radius: 20pt;
    background-color: #fff;
}

.TituloListadeSolicitudes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    /* margin-right: 400px; */
}

.TituloListadeSolicitudes {
    font-weight: 650;
    font-size: 24px;
}

.EjemploCard {
    display: flex;
    justify-content: center;
    align-items: center;

}

.tiedanamebox{
    display: flex;


    box-shadow: 5px 5px 11px rgba(26, 26, 51, 0.1);
    border-radius: 20pt;
    background-color: #fff;



}