.catalogoRefrigerador{
    height: 100vh;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.mapaRefrigeradores {
    width: 100%;
    height: 0;
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: auto; /* or overflow: scroll; */
  }
.cardRefrigerador{
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 10pt;
    margin-bottom: 16px;
    box-shadow: 5px 5px 11px rgba(26, 26, 51, 0.1);

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.cardHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.modelRefrigerador{
    margin-left: 24px;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
}

.serialRefrigerador{
    margin-left: 24px;
    margin-top: 0px;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
}

.checkBoxContainer{
    margin-top: 16px;
    margin-right: 24px;
    display: inline-block;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}


.checkBox{
    width: 33px;
    height: 33px;

    appearance: none;
    -webkit-appearance: none;

    background: rgba(226, 226, 226, 0.05);
    outline:  2px solid #B5B5B5;
    border-radius: 5px;
}

.checkBox:checked{
    width: 35px;
    height: 35px;

    appearance: none;
    -webkit-appearance: none;

    background: rgba(32, 226, 165, 0.05);
    outline: 2px solid #20E2A5;
    border-radius: 5px;

    background-image: url('../../../images/greenCheckIcon.svg');
    background-repeat: no-repeat;
    background-position: center;
} 

.specsList{
    margin-left: 20px;
}
.specsRefrigerador{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

.navButtonBox {
    width: 100%;
    height: 112px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 11px rgba(26, 26, 51, 0.1);
  
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .navButton:disabled {
      opacity: 0.5; /* reduce opacity to indicate that the button is disabled */
      cursor: not-allowed; /* change cursor to not-allowed to indicate that the button cannot be clicked */
      background-color: #CFCFCF;
    }
  
    
  .navButton {
    background-color: #7dcf7b;
    border-radius: 10pt;
    width: 87%;
    height: 64px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .solid {
    width: 87%;
    border: 0.5px solid rgba(171, 171, 171, 0.4);
    margin: 0;
  }
  
  .iconActive {
    font-size: 24px;
    color: white;
    height: 16px;
    margin-right: 8px;
  }
  
  .buttonCaption {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: white;
  }