code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (max-width: 768px) {
  /* Adjust font size and padding for small screens */
  body {
    background-color: #ffd3a5;

    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    font-size: 14px;
    font-family: "Raleway", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Adjust layout for small screens */
  .container {
    display: flex;
    flex-direction: column;
  }

  /* Hide elements that don't fit on small screens */
  .hidden-xs {
    display: none;
  }
}
